<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="footer-body__item">
                <img src="https://png.icons8.com/material/18/ffffff/facebook-like.png">
                <a href="">
                     Like 4.1K
                </a>
            </div>
            <div class="footer-body__item">
                <a href="">Share</a>
            </div>
            <div class="footer-body__copyright">
                © 2018 - Shakerfactory Ltd. All Rights Reserved
            </div>
        </div>

    </div>

</footer>

<script src="js/libs.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>